/*-- Loader --*/
.spinner1 {
    /* style et emplecement du loader dans la page d'accueil */
        width: 192px;
        height: 192px;
        animation: spinner-3419ln 3s both;
        border-radius: 50%;
        background-color:#FF79DA;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
     }
     
     .spinner {
    /* Arrière plan du loader */
        height: 100%;
        background: white;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        animation: spinner 3s linear;
        visibility: hidden;}


/* -- Apparrition du "Ohmyfood" -- */
.load {
    margin: auto;
    position: fixed;
    font-size: 50px;
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 20;
    animation: tracking-in-contract-bck 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
   /* Animation du loadder*/
 @keyframes spinner-3419ln {
  10% {
      visibility: visible;
      opacity: 1;
     transform: skewX(60deg);
  }

  20% {
      visibility: visible;
      opacity: 1;
     transform: skewX(-60deg);
  }

  30% {
      visibility: visible;
      opacity: 1;
     transform: skewX(0deg);
  }

  40% {
      visibility: visible;
      opacity: 1;
     transform: skewY(60deg);
  }

  50% {
      visibility: visible;
      opacity: 1;
     transform: skewY(-60deg);
  }

  60% {
      visibility: visible;
      opacity: 1;
      transform: skewY(0);
  }
  100% {
      visibility: hidden;
      opacity: 0;
      transform: skewY(0);
  }
}

@keyframes spinner {
  /* Evolution de l'opacité de l'arrière plan du loader */
      0% {
      visibility: visible;
      opacity: 0.9;}
  
      70% {
      visibility: visible;
      opacity: 0.9;}
  
      100% {
      visibility: hidden;
      opacity: 0;}
}